@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Lato&display=swap');

$soft-gray: rgba(160, 160, 160, 0.3);
$text: #4e4e4e;
* {
    font-family: 'Bitter', serif;
    color: $text;
}

body, ul {
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}
h1, h2, h3, h4, .posts li {
    text-transform: capitalize;
}

p, .pagination *, .user-info *, .close {
    font-family: 'Lato', sans-serif;
}
h1.site-title {
    background: white;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid $soft-gray;
    a { padding: 0; }
}

ul.posts {
    list-style-type: none;
    background: #f4f4f4;
}

ul.posts li, .pagination a {
    font-size: 1rem;
    &:hover {
        background: $soft-gray;
        color: $text;
    }
}
a, li, .link {
    padding: 5px;
    cursor: pointer;
}
.article-content .link {
    border: solid 1px $soft-gray;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
ul.posts li {
    padding: 1rem;
    border-bottom: 1px solid $soft-gray;
    background: white;
}
a:visited {
    color: $text;
}
.pagination {
    padding: 1rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    text-align: center;
    align-items: center;

    .disabled {
        cursor: not-allowed;
        // background: #dcdbdb;
        color: $soft-gray !important;
    }
    a, span.link {
        display: inline-block;
        background: white;
        border: solid 1px $soft-gray;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        // min-width: 120px;
    }
    span.pages {
        padding: 10px;
    }
    .next {
        // margin-left: 10px;
    }
}
article {
    position: relative;
}
.article-content, .user-info {
    padding: 1px 1.5rem 1.5rem 1.5rem;
    background: white;
}
.user-info {
    padding-top: 0.5rem;
    border: solid $soft-gray;
    border-width: 1px 0;

    // margin-top: 1.5rem;
}
.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
@media (min-width: 1024px) {
    h1.site-title {
        padding: 2rem;
    }
    ul.posts {
        padding: 1.5rem;
    }
    .pagination {
        width: 475px;
        margin: 0 auto;
    }
    ul.posts li, .pagination a, .pagination span.link {
        font-size: 1.2em;
    }
    ul.posts li, .pagination a, .pagination span.link {
        padding: 1rem;
    }
}
