@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Lato&display=swap');

$soft-gray: rgba(160, 160, 160, 0.3);
$text: #4e4e4e;
* {
    font-family: 'Bitter', serif;
    color: $text;
}

body, ul {
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}
h1, h2, h3, h4, .posts li {
    text-transform: capitalize;
}

p, .pagination *, .user-info *, .close {
    font-family: 'Lato', sans-serif;
}
h1.site-title {
    background: white;
    padding: 1.5rem;
    margin: 0;
    border-bottom: 1px solid $soft-gray;
}

ul.posts {
    list-style-type: none;
    background: #f4f4f4;
    position: relative;
}

ul.posts li, .pagination a, .article-content .link {
    font-size: 1.2rem;
    &:hover {
        background: $soft-gray;
        color: $text;
    }
}
a, li, .link {
    padding: 5px;
    cursor: pointer;
}
.article-content .link {
    border: solid 1px $soft-gray;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
ul.posts li {
    padding: 1rem;
    border-bottom: 1px solid $soft-gray;
    background: white;
}
a:visited {
    color: $text;
}
.pagination {
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;

    .disabled {
        cursor: not-allowed;
        color: $soft-gray !important;
    }
    a, span.link {
        display: inline-block;
        background: white;
        border: solid 1px $soft-gray;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
    }
    span.pages {
        padding: 10px;
    }
}
article {
    position: relative;
}
.article-content, .user-info {
    padding: 1px 1.5rem 1.5rem 1.5rem;
    background: white;
}
.user-info {
    padding-top: 0.5rem;
    border: solid $soft-gray;
    border-width: 1px 0;
}
.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
@media (min-width: 1024px) {
    ul.posts, article.post {
        padding: 1.5rem;
    }
    article.post {
        display: grid;
        grid-template-columns: 2fr 1fr;
        .user-info {
            border-width: 0 0 0 1px;
            padding-left: 2em;
        }
    }
}
